body{
  margin: 0;
  align-items: center; 
  justify-content: center;
  margin-bottom: 100px;
  display: flex;
  height: 100vh;
}
.container{
  border: 2px solid gray;
  padding: 0 25px;
  border-radius: 10px;
  width: 300px;
  height: 100%;

}
button{
  margin-left: 5px;
  border: 2px solid gray;
  width: 80px;
  height: 40px;
  border-radius: 5px;

}
input{
  width: 200px;
  height: 35px;
  border-radius: 5px;
}
li{
  margin: 5px;
}
.todo{
  justify-content: center;
  text-align: center;
}
.add-Button{
  background-color: tomato;
  color: white;
  font-size: 15px;
}
.delete-Button{
  background-color: lightseagreen;
  color: white;
  font-size: 15px;
}